.footer__icon{
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding-top: 2rem;
    }
.footer__copyright{
        padding: 1rem;
        text-align: center;
        margin-top: 1rem;
}